@page
@model EstacionamientoR.Pages.Espacios.CreateModel

<div class="container mt-4">

    <div class="card shadow p-4">

        <div class="d-flex justify-content-between mb-4">

            <h2>
                Nuevo Espacio
            </h2>

            <a asp-page="/Espacios/Index"
               class="btn btn-dark">

                ← Volver

            </a>

        </div>

        <form method="post">

            <div class="mb-3">

                <label class="form-label">
                    Número Espacio
                </label>

                <input asp-for="Espacio.NumeroEspacio"
                       class="form-control" />

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Tipo
                </label>

                <select asp-for="Espacio.Tipo"
                        class="form-select">

                    <option>Auto</option>
                    <option>Moto</option>
                    <option>Discapacitado</option>

                </select>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Estado
                </label>

                <select asp-for="Espacio.Estado"
                        class="form-select">

                    <option>Disponible</option>
                    <option>Ocupado</option>
                    <option>Reservado</option>
                    <option>FueraServicio</option>

                </select>

            </div>

            <button class="btn btn-success">

                Guardar Espacio

            </button>

        </form>

    </div>

</div>