@page
@model EstacionamientoR.Pages.Pagos.IndexModel

<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2 class="fw-bold">
            Gestión de Pagos
        </h2>

        <a asp-page="/Admin/Dashboard"
           class="btn btn-dark">

            ← Volver

        </a>

    </div>

    <div class="card shadow border-0 rounded-4">

        <div class="card-body">

            <table class="table table-hover align-middle">

                <thead class="table-dark">

                    <tr>

                        <th>Vehículo</th>
                        <th>Total</th>
                        <th>Método</th>
                        <th>Fecha</th>

                    </tr>

                </thead>

                <tbody>

                    @foreach (var item in Model.Pagos)
                    {
                        <tr>

                            <td>
                                @item.VehiculoId
                            </td>

                            <td>
                                $ @item.Total
                            </td>

                            <td>
                                @item.MetodoPago
                            </td>

                            <td>
                                @item.FechaPago
                            </td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

</div>